<%- include("header") -%>
<section>
    <div>
        <p>This Website is a demo version of a todo-list website. <br> 
            Soon Full functionality of the website will be released.<br>
        </p>
    </div>
</section>
<%- include("footer") -%>
