
</body>
<footer>
    <a href="https://github.com/Yagth" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/yeabesera-derese-7a9075224/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a><br>
    Copyright of &copy; 2010;

    <script src="https://kit.fontawesome.com/0b68e6e59f.js" crossorigin="anonymous"></script>
</footer>
</html>